<div class="border">
  <div class="row">
    <h5 class="twelve columns">Pregunta {{selectedQuestion.num}}: {{selectedQuestion.question}}</h5>
  </div>
</div>

<div class="row">
  <!--new random question-->
  <button class="five columns" ng-disabled="questionsList.length < 0" ng-click="newQuestion()">Nueva Pregunta</button>
  <!--see the answer-->
  <button class="five columns offset-by-two" ng-show="timer == 0" ng-click="showAnswer()">Mira la Respuesta</button>
</div>
<div class="row border">
  <!--answer-->
  <p class="twelve columns" ng-if="seeAnswer">Respuesta: {{selectedQuestion.answer}}</p>
</div>
